/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

.box-view {
  border: 1px solid black;
  border-radius: 10px;
  width: 42%;
  padding: 10px;
  margin: 30px;
  box-shadow: 4px 4px grey;
}

.separate {
  border: 1px solid black;
  border-radius: 10px;
  width: 40%;
  padding: 25px;
}

/* .flex {
  display: flex;
  justify-content: space-around;
} */

.myUL {
  display: inline-block;
  text-align: left;
}

.buttonMode {
  border-radius: 12px;
  padding: 9px;
  width: 100px;
}

.buttonMode:hover {
  cursor: pointer;
}

a {
  color: #7b0930;
}
