<div align="center">
  <h1>LMS</h1>
  <LinkTo @route="home">Home</LinkTo>
  <LinkTo @route="library">Libraries</LinkTo>
  <LinkTo @route="latest-books">Latest Arrivals</LinkTo>
  <p>Books : {{this.booksReq}}</p>
  <p>Library : {{this.libraryReq}}</p>
  <br>
  <button class='buttonMode' type="button" {{on 'click' this.changeTheme}}>{{this.theme}}</button>
  <hr>
</div>