{{page-title "Index"}}
<div align="center"> 
        <h1>Libraries</h1>
        {{#each this.model as |lib|}}
        <div style="padding:10px"  class="library">
            <LinkTo @route="library.details" @model={{lib.id}}>{{lib.name}}</LinkTo>
        </div>
        {{/each}}
</div>