<div align="center">
    <div class="separate">
        Sort By Name :
        <LinkTo @route="library.details.books" @query={{hash sort="asc" }}>Ascending</LinkTo>
        <LinkTo @route="library.details.books" @query={{hash sort="desc" }}>Descending</LinkTo>
    </div>

    {{#each this.sortedBooks as |book|}}
    <div style="padding:15px">
        <LinkTo @route="library.details.books.book" @model={{book.id}}>{{book.name}}</LinkTo>
    </div>
    {{/each}}
</div>